:root {
  --background-color: rgb(0, 0, 193);
  --background-alternate: rgb(79, 112, 187);
  --box-background-color: rgb(70, 70, 219);
  --color: rgb(255, 255, 255);
  --alt-color: rgb(124, 124, 124);
  --hovering-alt: rgb(47, 47, 47);
  --borderColor: rgb(255, 255, 255);
  --loader-color: rgb(0, 0, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(39, 39, 42);
    --background-alternate: rgb(21, 21, 21);
    --box-background-color: rgb(51, 51, 58);
    --color: rgb(3, 50, 190);
    --alt-color: rgb(4, 101, 160);
    --hovering-alt: rgb(255, 255, 255);
    --border-color: rgb(4, 44, 164);
    --loader-color: rgb(255, 255, 255);
  }
}

* {
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  font-family: "Poppins", "Rubik", Helvetica, sans-serif;
}

/*Header*/

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--box-background-color);
  color: var(--color);
  height: 105%;
  width: 100%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.Header-wrap {
  height: 10%;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100000;
}

.header-container:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  height: 125%;
}

.header-heading {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-heading h1 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 0 0 2px var(--alt-color), 0 0 4px var(--alt-color),
    0 0 6px var(--alt-color), 0 0 8px var(--alt-color),
    0 0 10px var(--alt-color);
  transition: all 0.3s ease-in-out;
}

.header-heading h1:hover {
  text-shadow: 0 0 2px var(--hovering-alt), 0 0 4px var(--hovering-alt),
    0 0 6px var(--hovering-alt), 0 0 8px var(--hovering-alt),
    0 0 10px var(--hovering-alt);
  font-size: 3.5rem;
  cursor: default;
}

.navbar {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar nav {
  width: 100%;
  height: 100%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-link {
  text-decoration: none;
  color: var(--color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: var(--color);
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 0 0 2px var(--alt-color), 0 0 4px var(--alt-color),
    0 0 6px var(--alt-color), 0 0 8px var(--alt-color),
    0 0 10px var(--alt-color);
}

.navbar-link:hover {
  text-shadow: 0 0 2px var(--hovering-alt), 0 0 4px var(--hovering-alt),
    0 0 6px var(--hovering-alt), 0 0 8px var(--hovering-alt),
    0 0 10px var(--hovering-alt);
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .header-heading h1 {
    font-size: 2.3rem;
  }

  .header-heading {
    width: 15%;
  }

  .navbar {
    width: 65%;
  }

  .navbar ul li {
    font-size: 1.25rem;
  }

  .header-heading h1:hover {
    font-size: 2.5rem;
  }

  .navbar ul li:hover {
    font-size: 1.4rem;
  }
}

@media (max-width: 750px) {
  .header-heading h1 {
    font-size: 2rem;
  }

  .header-heading {
    width: 15%;
  }

  .navbar {
    width: 65%;
  }

  .navbar ul li {
    font-size: 1rem;
  }

  .header-heading h1:hover {
    font-size: 2.25rem;
  }

  .navbar ul li:hover {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  .header-heading h1 {
    font-size: 1.75rem;
  }

  .header-heading {
    width: 10%;
  }

  .navbar {
    width: 70%;
  }

  .navbar ul li {
    font-size: 0.8rem;
  }

  .header-heading h1:hover {
    font-size: 2rem;
  }

  .navbar ul li:hover {
    font-size: 1rem;
  }
}

/*Home Page*/

.home-container {
  height: 100vh;
}

.home-image-wrap {
  margin-top: 5%;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../public/HTML-Background.png");
}

.home-image-wrap:hover::before {
  opacity: 1 !important;
}

.home-image-wrap::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.4),
    transparent 70%
  );
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 2;
  opacity: 0;
  transition: opacity 500ms !important;
}

.home-image-text {
  width: 40%;
  height: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--loader-color);
  text-shadow: 0 0 2px var(--alt-color), 0 0 4px var(--alt-color),
    0 0 6px var(--alt-color), 0 0 8px var(--alt-color),
    0 0 10px var(--alt-color);
  font-size: 1.3rem;
  left: 10%;
  top: 25%;
  background-color: var(--box-background-color);
  border-radius: 10px;
  box-shadow: 2px 2px 10px var(--alt-color);
  padding: 5px;
  z-index: 3;
}

.home-image-text h2 {
  color: var(--loader-color) !important;
  margin-left: 2.5%;
}

.home-image-image {
  aspect-ratio: 1/1;
  height: 60%;
  left: 60%;
  top: 20%;
  position: absolute;
  background: url("../../public/Gif.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 2px 2px 10px var(--alt-color),
    30px 30px 0px var(--background-color);
  z-index: 3;
}

.home-image-text:hover {
  scale: 1.05;
  box-shadow: 3px 3px 10px var(--alt-color),
    15px 15px 0px var(--background-color);
}

.home-image-image:hover {
  scale: 1.05;
  box-shadow: 3px 3px 10px var(--alt-color),
    40px 30px 0px var(--background-color);
}

.home-image-text h1:hover {
  cursor: default;
  font-size: 3rem;
}

.home-image-text h2:hover {
  cursor: default;
  font-size: 2rem;
}

.about {
  height: 60vh;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.about-header,
.project-header,
.contact-header {
  display: inline-block;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-header,
.contact-header {
  margin-top: 5%;
}

.about-header h2,
.project-header h2,
.contact-header h2 {
  color: var(--loader-color);
  font-size: 2.5rem;
  text-shadow: 0 0 2px var(--alt-color), 0 0 4px var(--alt-color),
    0 0 6px var(--alt-color), 0 0 8px var(--alt-color),
    0 0 10px var(--alt-color);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.about p {
  color: var(--loader-color);
  font-size: 1.5rem;
  text-shadow: 0 0 2px var(--alt-color), 0 0 4px var(--alt-color),
    0 0 6px var(--alt-color), 0 0 8px var(--alt-color),
    0 0 10px var(--alt-color);
  text-align: center;
}

.about-header h2:hover,
.project-header h2:hover {
  scale: 1.2;
  cursor: default;
}

.about p:hover {
  scale: 1.1;
  cursor: default;
}
/*Not Found Page*/

.not-found-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.not-found-container h1 {
  color: var(--color);
  font-size: 5rem;
  text-shadow: 0 0 2px var(--alt-color), 0 0 4px var(--alt-color),
    0 0 6px var(--alt-color), 0 0 8px var(--alt-color),
    0 0 10px var(--alt-color);
  transition: all 0.3s ease-in-out;
}

.not-found-container h1:hover {
  text-shadow: 0 0 2px var(--hovering-alt), 0 0 4px var(--hovering-alt),
    0 0 6px var(--hovering-alt), 0 0 8px var(--hovering-alt),
    0 0 10px var(--hovering-alt);
  cursor: default;
  font-size: 5.5rem;
}

.not-found-container h3 {
  color: var(--color);
  font-size: 2rem;
  text-shadow: 0 0 2px var(--alt-color), 0 0 4px var(--alt-color),
    0 0 6px var(--alt-color), 0 0 8px var(--alt-color),
    0 0 10px var(--alt-color);
  transition: all 0.3s ease-in-out;
}

.not-found-container h3:hover {
  text-shadow: 0 0 2px var(--hovering-alt), 0 0 4px var(--hovering-alt),
    0 0 6px var(--hovering-alt), 0 0 8px var(--hovering-alt),
    0 0 10px var(--hovering-alt);
  cursor: default;
  font-size: 2.5rem;
}

.fa-regular.fa-face-frown {
  color: var(--color);
  font-size: 10em;
  text-shadow: 0 0 2px var(--alt-color), 0 0 4px var(--alt-color),
    0 0 6px var(--alt-color), 0 0 8px var(--alt-color),
    0 0 10px var(--alt-color);
  transition: all 0.3s ease-in-out;
}

.fa-regular.fa-face-frown:hover {
  text-shadow: 0 0 2px var(--hovering-alt), 0 0 4px var(--hovering-alt),
    0 0 6px var(--hovering-alt), 0 0 8px var(--hovering-alt),
    0 0 10px var(--hovering-alt);
  cursor: default;
  font-size: 10.5em;
}

.not-found-button {
  color: var(--color);
  cursor: pointer;
  background-color: var(--box-background-color);
  font-size: 2rem;
  text-shadow: 0 0 2px var(--alt-color), 0 0 4px var(--alt-color),
    0 0 6px var(--alt-color), 0 0 8px var(--alt-color),
    0 0 10px var(--alt-color);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 5px;
}

.not-found-button:hover {
  text-shadow: 0 0 2px var(--hovering-alt), 0 0 4px var(--hovering-alt),
    0 0 6px var(--hovering-alt), 0 0 8px var(--hovering-alt),
    0 0 10px var(--hovering-alt);
  cursor: pointer;
  font-size: 2.5rem;
  background-color: var(--alt-color);
}

.not-found-button:active {
  text-shadow: 0 0 2px var(--hovering-alt), 0 0 4px var(--hovering-alt),
    0 0 6px var(--hovering-alt), 0 0 8px var(--hovering-alt),
    0 0 10px var(--hovering-alt);
  cursor: pointer;
  font-size: 2.5rem;
  background-color: rgb(177, 177, 177);
  transform: translateY(2px);
}

/*Footer*/

.Footer-wrap {
  height: 20vh;
}

.footer-container {
  height: 100%;
  width: 100%;
  background-color: var(--box-background-color);
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--color);
  font-size: 1.5rem;
  text-shadow: 0 0 2px var(--alt-color), 0 0 4px var(--alt-color),
    0 0 6px var(--alt-color), 0 0 8px var(--alt-color),
    0 0 10px var(--alt-color);
  border-radius: 10px;
}

.internal-links,
.external-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 35%;
  margin-left: auto;
  margin-right: auto;
}

.footer-link {
  color: var(--color);
  text-shadow: 0 0 2px var(--alt-color), 0 0 4px var(--alt-color),
    0 0 6px var(--alt-color), 0 0 8px var(--alt-color),
    0 0 10px var(--alt-color);
  font-size: 1.5rem;
}

.footer-link:hover {
  text-shadow: 0 0 2px var(--hovering-alt), 0 0 4px var(--hovering-alt),
    0 0 6px var(--hovering-alt), 0 0 8px var(--hovering-alt),
    0 0 10px var(--hovering-alt);
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: bold;
}

.sub-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
}

.projects {
  background-color: var(--background-alternate);
  height: 100vh;
  width: 100%;
}

/*Project*/
.project-container {
  width: 60%;
  height: 60vh;
  margin-top: 5%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: var(--box-background-color);
  border-radius: 10px;
  box-shadow: 0 0 2px var(--alt-color), 0 0 4px var(--alt-color),
    0 0 6px var(--alt-color), 0 0 8px var(--alt-color),
    0 0 10px var(--alt-color);
}

.project-image {
  width: 60%;
  height: 55%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  border-radius: 10px;
}

.project-image:hover {
  box-shadow: 0 0 2px var(--alt-color), 0 0 4px var(--alt-color),
    0 0 6px var(--alt-color), 0 0 8px var(--alt-color),
    0 0 10px var(--alt-color);
  cursor: pointer;
  scale: 1.05;
}

.project-description {
  width: 90%;
  height: 33%;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  line-height: 0.5;
  justify-content: center;
  align-items: center;
  color: var(--loader-color);
  text-shadow: 0 0 2px var(--alt-color), 0 0 4px var(--alt-color),
    0 0 6px var(--alt-color), 0 0 8px var(--alt-color),
    0 0 10px var(--alt-color);
}

.product-description h1 {
  height: 50%;
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
}

.product-description h3 {
  height: 50%;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0;
}

/*Contact*/
.contact {
  height: 100vh;
  width: 100%;
  margin-top: 0;
}

.contact-container {
  width: 35%;
  height: 60vh;
  margin-top: 5%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: var(--box-background-color);
  border-radius: 10px;
  box-shadow: 0 0 2px var(--alt-color), 0 0 4px var(--alt-color),
    0 0 6px var(--alt-color), 0 0 8px var(--alt-color),
    0 0 10px var(--alt-color);
  text-align: center;
}

.contact-container ul {
  padding: 0;
}

.contact-container li {
  list-style-type: none;
  color: var(--loader-color);
  text-shadow: 0 0 2px var(--alt-color), 0 0 4px var(--alt-color),
    0 0 6px var(--alt-color), 0 0 8px var(--alt-color),
    0 0 10px var(--alt-color);
  font-size: 1.75rem;
}

.contact-container i {
  color: var(--loader-color);
  text-shadow: 0 0 2px var(--alt-color), 0 0 4px var(--alt-color),
    0 0 6px var(--alt-color), 0 0 8px var(--alt-color),
    0 0 10px var(--alt-color);
  font-size: 3.5rem;
  margin-top: 5%;
}

.contact-container i:hover {
  cursor: pointer;
  text-shadow: 0 0 2px var(--alt-color), 0 0 4px var(--alt-color),
    0 0 6px var(--alt-color), 0 0 8px var(--alt-color),
    0 0 10px var(--alt-color);
  font-size: 5rem;
  color: var(--hovering-alt);
}

.contact-container li:hover {
  text-shadow: 0 0 2px var(--alt-color), 0 0 4px var(--alt-color),
    0 0 6px var(--alt-color), 0 0 8px var(--alt-color),
    0 0 10px var(--alt-color);
  scale: 1.1;
}

/*Loader*/

/* HTML: <div class="loader"></div> */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.loader {
  width: 15%;
  aspect-ratio: 1;
  display: flex;
  color: var(--loader-color);
  border: 4px solid;
  box-sizing: border-box;
  border-radius: 50%;
  background: radial-gradient(circle 5px, currentColor 95%, #0000),
    linear-gradient(currentColor 50%, #0000 0) 50%/4px 60% no-repeat;
  animation: l1 2s infinite linear;
}
.loader:before {
  content: "";
  flex: 1;
  background: linear-gradient(currentColor 50%, #0000 0) 50%/4px 80% no-repeat;
  animation: inherit;
}
@keyframes l1 {
  100% {
    transform: rotate(1turn);
  }
}
